
/* Font family Roboto */

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }


/* Main */

body {
    background-color: black;
}

h1,
h2, 
h5 {
    color: #FFF;
}

p {
    color: #FFF;
}

.pquote {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: italic; 
}

/* Images */ 

.location1img {
    height: 60vh;
    background-image: url('../images/newyork.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    }

.location2img {
    height: 60vh;
    background-image: url('../images/bigben.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    }
  

.location3img {
    height: 60vh;
    background-image: url('../images/tajmahal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    }

.location4img {
    height: 60vh;
    background-image: url('../images/theatreitaly.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    }

/* Jumbotron */

.jumbotron-image {
    height: 25vh;
    background-image: url('../images/flagscombinednew.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.9); /* Overlay with 50% opacity black */
}
    

.mainheader {
    color: #F0EBD2;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.mainp {
    color: #F4A460;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: normal; 
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
    margin: unset;
    display: unset;  
}

.maingo {
    color: #06cc3a;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal; 
    margin: unset;
    display: unset;     
}

.col-sm-12.bg-danger {
    height: 50px; /* Change 100px to your desired height */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Align content vertically */
  }

  .footermain {
    display: flex; /* Make the div a flex container */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Align content vertically */
  }

  p {
    margin: auto;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
