/* Colors */



/* Images */ 

.location1img {
    height: 200px;
    background: #aaa;
    }

.location2img {
    height: 200px;
    background: #aaa;
    }

.location3img {
    height: 200px;
    background: #aaa;
    }

.location4img {
    height: 200px;
    background: #aaa;
    }